/* Nav Bar */

.navbar {
    background-color: #0f0e17;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.navbar ul li {
    display: block;
    border-style: solid;
    border-right-color: white;
    border-top-color: white;
    border-bottom-color: white;
}
.navbar ul li:first-child {
    border-color: white;
}

.navbar ul li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Header */
header {
    background-color: magenta;
    background-image: linear-gradient(to bottom left, magenta, orange);
    padding: 50px 0 150px;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    display: block;
    color: #6A5ACD;
    margin-left: 50px;
    
    
}

header p {
    display: block;
    margin-left: 50px;
    margin-top: 1em;
    font-size: 20px;
    color: #FFFAF0;
}

header ul li{
    display: inline;
    padding-right: 10px;

}

/* Body */
/* welcome-section */
body{
    margin: 0;
    overflow-x: hidden;
}

#welcome-section {
    border: 10px solid #0f0e17;
    
}
#welcome-section h2 {
    font-family: proxima-nova, sans-serif;
    font-weight: 800;
    line-height: 30px;
    font-size: 1.7rem;
    color: #094067;
    text-align: left;
    padding-left: 20rem;
    padding-right: 20rem;
}
#welcome-section {
    padding: 1.5rem;
}
#welcome-section .vertical-line {
    width: 6px;
    background-color: silver;
    height: 100%;
    float: left;
    border: 1px inset;
    margin-left: 20rem;
    padding-bottom: 12em;
    
}
#welcome-section p {
    text-align: left;
    color: #5f6c7b;
    margin-top: 2em;
    margin-left: 5em;
    padding-left: 20rem;
    padding-right: 20rem;
}
/* project-section */
#project-section {
    background-color: #021631;
    padding: 1.5rem;
}
#project-main-title {
    font-weight: 800;
}

.card {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Footer */
footer {
    background: black;
    padding: 20px 0;
    margin: auto;
}


footer .row .col a {
    color: white;
    font-size:0.8em;
    padding: 10px;
}

footer .row .col a:hover {
    color: gray; 
}


footer .row ul li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;

}
footer .row ul li a {
    text-decoration: none;
}

footer .row {
    margin: 10px 0;
    color: gray;
    
}
footer .row p {
    text-align: center;
    color: gray;
}
footer ul {
    margin: 10px 0;
}