/* Nav Bar */

.navbar {
    background-color: #0d0d0e;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.navbar ul li {
    font-family: 'DM Sans', sans-serif;
    display: block;
    padding: 1em;
}

.navbar ul li a {
    display: block;
    color: #5eb0d1;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}
.navbar ul li:hover {
    background-color: #c7cac8;
}
.navbar ul li a:hover {
    color: #81678c;
}

/* Header */
header {
    background-color: #0d0d0e;
    padding: 50px 0 150px;
    width: 100%;
}

header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 74px;
    display: block;
    color: #5eb0d1;
    text-align: center;
    font-weight: bold;
}

header p {
    font-family: "DM Sans", sans-serif;
    display: block;
    margin-top: 0.5em;
    font-size: 24px;
    color: #81678c;
    text-align: center;
    font-style: italic;
}

header ul li{
    display: inline;
    padding-right: 10px;

}

/* Body */
/* welcome-section */
body{
    margin: 0;
    overflow-x: hidden;
}

#welcome-section {
    padding: 1.5rem;
    background-color: #0d0d0e;
}

#about-me-title h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #5eb0d1;
    text-align: center;
}

#about-me {
    text-align: left;
    color: #c7cac8;
    align-items: start;
}
/* Skills section*/
#skills-section {
    width: 100%;
    background-color: #c7cac8;
}
#skills-header h2 {
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    padding-top: 2rem;
    font-weight: 700;
    color: #81678c;
}
#skills-section h3 {
    font-family: "DM Sans", sans-serif;
    text-align: center;
}
#skills-list .row {
    margin-top: 2em;
    padding-bottom: 2em;
}
#skills-list .row div {
    padding: 0;
    text-align: center;
}
#skills-list i {
    font-size: 48px;
    padding: 0;
    color: #0d0d0e;
}
/* project-section */
#project-section {
    background-color: #0d0d0e;
    width: 100%;
}

#project-main-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #5eb0d1;
    margin-top: 1em;
    margin-bottom: 1em;
}

.card {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}
#card-title, #card-description {
    font-family: "DM Sans", sans-serif;
    color:#c7cac8;
    margin-left: 12px;
}
#card-img {
    align-items: center;
    margin: 12px;
}
#card-button {
    margin-left: 12px;
    margin-bottom: 12px;
}
#card-button i{
    font-size: 28px;
    gap: 20px;
}
#card-button i:nth-child(2) {
    margin-left: 12px;
}
#end-note {
    color:#c7cac8;
    margin-top: 2em;
    margin-bottom: 2em;
}
/* Contact Section*/
#contact-us {
    color: #81678c;
    
}
#contact-bg {
    background-color: #c7cac8;
}

#contact-header {
    padding-top: 2em;
    width: 100%;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}
#contact-header h2 {
    letter-spacing: .1rem;
    font-weight: 600;
}
#mail-button {
    width: 100%;
    margin-top: 3em;
    text-align: center;
    padding-bottom: 2em;
}
#mail-button button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #5eb0d1;
    border:1px solid #0d0d0e;
}
#mail-button i {
    font-size: 24px;
    color: #0d0d0e;
}
/* Footer */
footer {
    background: black;
    padding: 20px 0;
    margin: auto;
}


footer .row .col a {
    color: white;
    font-size:0.8em;
    padding: 10px;
}

footer .row .col a:hover {
    color: gray; 
}


footer .row ul li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;

}
footer .row ul li a {
    text-decoration: none;
}

footer .row {
    margin: 10px 0;
    color: gray;
    
}
footer .row p {
    text-align: center;
    color: gray;
}
footer ul {
    margin: 10px 0;
}
